{% extends 'todo/base.html' %}
{% load static %}
{% block content %}

<h1 style="text-align: center;">Enter your New Password</h1>
<hr>
<br>
<br>
    <form method="post" style="padding-left: 30%;">
        
        {{form.as_p}}

        {% csrf_token %}    
        <br>
        
        <div style="padding-left: 14%;">
            <input  class = "btn btn-success" type="submit" value="Confirm" >
        </div>
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock content %}

